Dependencies
/node_modules

Production
/build

Logs
logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

Environment variables
.env
.env*.local
.env*.development
.env*.test
.env*.production

Sensitive Credentials
NEVER upload your credentials file to GitHub!
credentials.json
credentials2.json

misc
.DS_Store